@using Thalassa.App_GlobalResources
@model Common.User

<div class="responseStatus" style="display:none;">@ViewData["status"]</div>

<div class="login-parent animate slideIn">
    <div class="login">
        <div class="title">@Messages.Users_Login</div>
        <div class="bg-text">
            <div class="loginWithQRScan">@Messages.Users_LoginWithQRScan</div>
            <video id="loginQRScannerVideo"></video>
            <div class="orInputQRCodeLogin">@Messages.Users_OrTypeQRCodeLogin</div>
            <form class="loginForm" asp-controller="User" asp-action="Login" method="post">
                <div class="form-row firstFormRow inputParent">
                    <div class="col">
                        <input asp-for="PrivateKey" id="privateKey" type="password" required />
                        <label for="privateKey"></label>
                        <span class="passwordEye symbol" title="@Messages.Users_RevealPrivateKey">@Messages.Basics_Eye</span>
                        <label asp-for="PrivateKey"></label>
                        <div class="formErrors">
                            <span asp-validation-for="PrivateKey" class="formWarningServer"></span>
                        </div>
                    </div>
                </div>
                <div class="text-center formButtons">
                    <div class="submitButtonParent formButton1" style="display: none;">
                        <button type="submit" class="button submitButton loginButton">@Messages.Users_Login</button>
                    </div>
                    <div class="resetButtonParent formButton2" style="display: none;">
                        <button class="button resetButton" type="reset">@Messages.Basics_FormReset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>