<div class="responseStatus" style="display:none;">@ViewData["status"]</div>

<div class="container bg-text userContracts animate slideIn">
    @if (ViewBag.Contracts == null)
    {
        <div class="row">
            <div class="col">
                <div class="symbol bgTextSymbolCenter"></div>
                <div class="bgTextMessage" data-localization="legalContractsEmpty"></div>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col">
                <div class="symbol bgTextSymbolCenter"></div>
                <div class="bgTextTitleText text-center" data-localization="legalContracts"></div>
            </div>
        </div>
        <div>
            <div class="row tableTitleRow">
                <div class="col align-self-center text-center wordBreak" data-localization="legalContractsTitle"></div>
                <div class="col align-self-center text-center wordBreak" data-localization="blockchainTimestamp"></div>
                <div class="col align-self-center text-center wordBreak" data-localization="blockchainHash"></div>
            </div>
            @foreach (var contract in ViewBag.Contracts)
            {
                <div class="row tableSimpleRow contractRow">
                    <div class="blockIndex" style="display:none;">@contract["index"]</div>
                    <div class="col align-self-center text-center resultsBlockNumber"><span data-localization="@("legalContractsTitlesLower" + contract["title"])"></span></div>
                    <div class="col align-self-center text-center" data-timestamp="@contract["timestamp"]"></div>
                    <div class="col align-self-center text-center validationResultsHash">@contract["hash"]</div>
                </div>
            }
        </div>
    }
</div>